.bouquets-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & li {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    flex-shrink: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media(min-width: $table-width) {
  .bouquets-slider {
    & li {
      width: 145px;
      height: 145px;
      margin-right: 23px;
    }
  }
}

@media(min-width: $desktop-width) {
  .bouquets-slider {
    & li {
      width: 123px;
      height: 123px;
      margin-right: 20px;
    }
  }
}
