.main-nav {
  position: relative;
}

.main-nav__togle {
  position: absolute;
  width: 37px;
  height: 12px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  right: 0;
  top: 50%;
  margin-top: -6px;
}
