.service {
  padding-top: 100px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  padding-bottom: 50px;

  &__title {
    font-size: 20px;
    line-height: 170%;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.service__title--desktop {
  display: none;
  position: absolute;
  font-size: 220px;
  line-height: 243px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.service__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service__wrapper {
  width: 288px;
  margin: 0 auto;
  overflow-x: hidden;
}


@media(min-width: $table-width) {
  .service {
    padding-bottom: 100px;

    &__title {
      position: relative;
      font-size: 30px;
      line-height: 33px;
      text-align: center;
      margin-bottom: 52px;

      &::after {
        content: "";
        position: absolute;
        width: 85.5px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        bottom: -22px;
      }
    }
  }

  .service__wrapper {
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .service {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 170px;

    &__title {
      margin-bottom: 120px;
      position: relative;

      &::before {
        content: "каталог услуг";
        position: absolute;
        height: 243px;
      }
    }
  }

  .service__wrapper {
    width: 1500px;
  }

  .service__title--desktop {
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0.03;
    z-index: -1;
  }
}
