.site-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  // margin-bottom: 69px;
}

.site-list__item {
  & a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &--active {
    & a {
      font-size: 25px;
      line-height: 28px;
      color: $fontColor;
    }
  }
}


@media (min-width: $table-width) {
  .site-list__item {
    & a {
      font-size: 30px;
      line-height: 33px;
    }

    &--active {
      & a {
        font-size: 45px;
        line-height: 50px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    & a {
      font-size: 35px;
      line-height: 39px;
    }

    &--active {
      & a {
        font-size: 45px;
        line-height: 50px;
      }
    }
  }
}


