.slider__control {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & div {
    width: 62.61px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
  }

  & .slider__item--active {
    background-color: #ffffff;
  }
}

@media (min-width: $table-width){
  .slider__item:nth-last-of-type(1),
  .slider__item:nth-last-of-type(2){
    display: none;
  }

  .slider__control {
    width: 137.74px;
    margin: 0 auto
  }
}

@media (min-width: $desktop-width){
  .slider__control {
    display: none;
  }
}
